<!DOCTYPE html>
<html>
<head>
    @* Links to javascript files *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/ShallowBlueScript.js"></script>
    @RenderSection("Scripts", required: false)

    @* Links to stylesheets *@
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/ShallowBlue.css" />

    @* Font Awesome link *@
    <script src="~/js/fontawesome-all.min.js"></script>

    @* Other head content *@
    @RenderSection("HeadContent", required: false)

    @* Page title *@
    <title>@ViewData["FullPageTitle"]</title>

    @* ASP Head Content *@
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
    @* Page content *@
    @RenderBody()
</body>
</html>