{% extends "MenuTemplate.html" %}

{% block pageTitle %}Delete User{% endblock %}

{% block pageHeading %}SHALLOW BLUE - DELETE USER{% endblock %}

{% block bodyContent %}
    {# Display form #}
    <div class="row">
        <div class="col-sm-3"></div>

        <div class="col-sm-6" style="text-align: center">
            <form method="POST">
                {{form.hidden_tag()}}{# Used for CRSF protection #}

                <p>{{form.usernameTextBox.label}} {{form.usernameTextBox()}}</p>
                {% for error in form.usernameTextBox.errors %}
                <p>{{error}}</p>
                {% endfor %}

                <p>{{form.passwordPasswordBox.label}} {{form.passwordPasswordBox()}}</p>
                {% for error in form.passwordPasswordBox.errors %}
                <p>{{error}}</p>
                {% endfor %}

                <p><b>{{form.confirmData.data}}</b></p>

                <p>{{form.confirmDataTextBox.label}} {{form.confirmDataTextBox()}}</p>
                {% for error in form.confirmDataTextBox.errors %}
                <p>{{error}}</p>
                {% endfor %}

                <p>{{form.submitButton(class="btn button-background")}}</p>
            </form>
        </div>

        <div class="col-sm-3"></div>
    </div>
{% endblock %}