{% extends "EventTemplate.html" %}{# This page builds on the EventTemplate page #}

{% block pageContent %}
<form class="container-fluid" style="text-align: center" method="POST">
    {# Page Description #}
    <div class="row">
        <div class="col-sm-3"></div>
        <p class="col-sm-6">
            If this is the ladder event, you can safely end the event from here.<br />
            If this is a swiss or round robin event, the event can be ended from here if you need to however the event will be ended automaticly when the last round's pairings are compleated. Ending the event like this will assume that all the rounds have been finished so only use this if the minimum number of rounds has been compleated.
        </p>
        <div class="col-sm-3"></div>
    </div>

    {{form.hidden_tag()}}{# Used for CRSF protection #}

    {# Label #}
    <div class="row">
        <div class="col-sm-3"></div>
        <p class="col-sm-6">{{form.passwordPasswordBox.label}}</p>
        <div class="col-sm-3"></div>
    </div>

    {# Field #}
    <div class="row">
        <div class="col-sm-3"></div>
        <p class="col-sm-6">{{form.passwordPasswordBox()}}</p>
        <div class="col-sm-3"></div>
    </div>

    {# Errors #}
    {% for error in form.passwordPasswordBox.errors %}
    <div class="row">
        <div class="col-sm-3"></div>
        <p class="col-sm-6">{{error}}</p>
        <div class="col-sm-3"></div>
    </div>
    {% endfor %}

    <div class="row">
        <div class="col-sm-3"></div>
        <p class="col-sm-6">{{form.submitButton()}}</p>
        <div class="col-sm-3"></div>
    </div>
</form>
{% endblock %}