{% extends "MainTemplate.html" %}{# This page builds on the MainTemplate page #}

{% block pageTitle %}{{event.name}} - {{pageTitle}}{% endblock %}

{% block bodyContent %}
<div class="container-fluid">
    <header class="jumbotron Page-Heading">
        <h1 style="text-align:center">{{event.name.upper()}} - {{pageTitle.upper()}}</h1>
    </header>
    <div class="row">
        <div class="col-sm-3">{# Navigation Bar #}
            <ul class="navBar_ul">
                <li>Navigation:</li>
                <li><a class="{{homeClass}}", href="{{url_for("homepage", eventID = event.id)}}">Home</a></li>
                <li><a class="{{pairingsClass}}">Pairings</a></li>
                <li><a class="{{progressClass}}">Progress/Scores</a></li>
                <li><a class="{{splashClass}}">Splash Page</a></li>
            </ul>
        </div>
        <div class="col-sm-6">{% block pageContent %}{% endblock %}</div>{# This holds the content of the page. #}
        <div class="col-sm-3">{# Score Bar #}
            <ul class="scoreBar_ul">
                <li>Ranking:</li>
                <li><a>1st - {% if event.players|length >= 1 %}{{event.players[0].name}}{% endif %}</a></li>
                <li><a>2nd - {% if event.players|length >= 2 %}{{event.players[1].name}}{% endif %}</a></li>
                <li><a>3rd - {% if event.players|length >= 3 %}{{event.players[2].name}}{% endif %}</a></li>
                <li><a>4th - {% if event.players|length >= 4 %}{{event.players[3].name}}{% endif %}</a></li>
                <li><a>5th - {% if event.players|length >= 5 %}{{event.players[4].name}}{% endif %}</a></li>
                <li><a>6th - {% if event.players|length >= 6 %}{{event.players[5].name}}{% endif %}</a></li>
                <li><a>See Compleat List</a></li>
            </ul>
        </div>
    </div>
    <div></div>{# News Bar #}
</div>
{% endblock %}