{% extends "MainTemplate.html" %}

{% block pageTitle %}Shallow Blue - {{pageTitle}}{% endblock %}

{% block bodyContent %}
<div class="container-fluid">
    <header class="jumbotron Page-Heading">
        <h1 style="text-align:center">{{pageTitle.upper()}} A TOURNAMENT</h1>
    </header>
    {% if eventData|length == none %}

    {% else %}
    <div class="row">
        <div class="col-sm-3"></div>
        <p class="col-sm-6">There are currently no events avalable to join!<br />If you belive this is in error, please speek to the websitesite operator.</p>
        <div class="col-sm-3"></div>
    </div>
    {% endif %}
</div>
{% endblock %}