{% extends "MenuTemplate.html" %}{# This page builds on the MenuTemplate page #}

{% block pageTitle %}{{pageTitle}}{% endblock %}

{% block pageHeading %}Login{% endblock %}

{% block bodyContent %}
    {# Display login form #}
    <div class="row">
        <div class="col-sm-3"></div>

        <div class="col-sm-6" style="text-align: center">
            <form method="POST">
                {{form.hidden_tag()}}{# Used for CRSF protection #}

                <p>{{form.usernameTextBox.label}} {{form.usernameTextBox()}}</p>
                {% for error in form.usernameTextBox.errors %}
                <p class="feldErrorMessage">{{error}}</p>
                {% endfor %}

                <p>{{form.passwordPasswordBox.label}} {{form.passwordPasswordBox()}}</p>
                {% for error in form.passwordPasswordBox.errors %}
                <p class="feldErrorMessage">{{error}}</p>
                {% endfor %}

                <p>{{form.submitButton(class="btn button-background")}}</p>
            </form>

            <br />

            {# Link to signup form #}
            <p>
                Or sign up here --->
                <a class="btn button-background" href="{{url_for("signup")}}">
                    <i class="fas fa-user-plus button-icon"></i>
                </a>
            </p>
        </div>

        <div class="col-sm-3"></div>
    </div>
{% endblock %}