<!DOCTYPE html>
<html>
<head>
    <script src="/static/scripts/jquery-slim.min.js"></script>
    <script src="/static/scripts/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/content/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/content/ShallowBlue.css" />
    <script src="/static/scripts/fontawesome-all.min.js"></script>
    {% block headContent %}{% endblock %}

    <title>{% block pageTitle %}{% endblock %}</title>
</head>
    <body>
        {% block bodyContent %}{% endblock %}
    </body>
</html>