{% extends "EventTemplate.html" %}{# This page builds on the EventTemplate page #}

{% block pageContent %}
<div class="container-fluid" style="text-align: center">
    {# Headings #}
    <div class="row">
        <div class="col-sm-2"><p>Black:</p></div>
        <div class="col-sm-2"><p>Result:</p></div>
        <div class="col-sm-2"><p></p></div>
        <div class="col-sm-2"><p>White:</p></div>
        <div class="col-sm-2"><p>Result:</p></div>
    </div>

    {# Current pairings #}
    {% for i in range(0, pairings|length) %}
    <div class="row">
        <div class="col-sm-2"><p>{{pairings[i][3]}}</p></div>
        <div class="col-sm-2"><p>{% if pairings[i][8] != None %}{{pairings[i][8]}}{% endif %}</p></div>
        <div class="col-sm-2"><p>Vs.</p></div>
        <div class="col-sm-2"><p>{{pairings[i][4]}}</p></div>
        <div class="col-sm-3"><p>{% if pairings[i][10] != None %}{{pairings[i][10]}}{% endif %}</p></div>
    </div>
    {% endfor %}
</div>

{# Form for reporting pairing results #}
{% if session["userID"] == event.creatorID %}
<div class="container-fluid" style="text-align: center">
    {% if startNextRound == False %}
    {% for i in range(0, forms|length) %}
    <form class="row" method="POST">
        {{forms[i].hidden_tag()}}{# Used for CRSF protection #}
        <div class="col-sm-2"><p>{{pairings[forms[i].pairingIdentifier.data|int][3]}}</p></div>
        <div class="col-sm-2">{{forms[i].blackResultSelector}}</div>
        <div class="col-sm-2"><p>Vs.</p></div>
        <div class="col-sm-2"><p>{{pairings[forms[i].pairingIdentifier.data|int][4]}}</p></div>
        <div class="col-sm-2">{{forms[i].whiteResultSelector}}</div>
        <div class="col-sm-2">{{forms[i].submitButton}}{% for error in forms[i].blackResultSelector.errors %}<p>{{error}}</p>{% endfor %}</div>
    </form>
    {% endfor %}
    {% elif event.status != "finnished" %}
    {# Start event and/or round button #}
    <p>
        {% if event.round == 0 %}
        Start The Event --->
        {% else %}
        Start Next Round --->
        {% endif %}
        <a class="btn button-background" href="{{url_for("startRound", eventID = event.id)}}">
            <i class="fas fa-clipboard button-icon"></i>
        </a>
    </p>
    {% endif %}
    {% if event.eventType == "ladder" and event.status != "finnished" %}
    {% if event.status == "registration" %}
    {# Start ladder event button #}
    <p>
        Start The Event --->
        <a class="btn button-background" href="{{url_for("startLadderEvent", eventID = event.id)}}">
            <i class="fas fa-clipboard button-icon"></i>
        </a>
    </p>
    {% else %}
    {# Add ladder pairings button #}
    <p>
        Add New Pairings --->
        <a class="btn button-background" href="{{url_for("addLadderPairings", eventID = event.id)}}">
            <i class="fas fa-clipboard button-icon"></i>
        </a>
    </p>
    {% endif %}
    {% endif %}
</div>
{% endif %}
{% endblock %}