{% extends "MainTemplate.html" %}{# This page builds on the MainTemplate page #}

{% block pageTitle %}Shallow Blue - {{pageTitle}}{% endblock %}

{% block bodyContent %}
<div class="container-fluid">
    {# Page heading #}
    <header class="jumbotron Page-Heading">
        <h1 style="text-align:center">{{user[1].upper()}}'S PROFILE</h1>
    </header>

    <div class="col-sm-6 container-fluid">
        {# User infomation displayed below #}
        <div class="row">
            <div class="col-sm-2"></div>
            <p class="col-sm-3">User ID</p>
            <p class="col-sm-3">{{user[0]}}</p>
            <div class="col-sm-2"></div>
            <div class="col-sm-2"></div>
        </div>

        <div class="row">
            <div class="col-sm-2"></div>
            <p class="col-sm-3">Username</p>
            <p class="col-sm-3">{{user[1].title()}}</p>
            <div class="col-sm-2">{{form.firstNameTextBox()}}</div>
            <div class="col-sm-2"></div>
        </div>

        <div class="row">
            <div class="col-sm-2"></div>
            <p class="col-sm-3">First Name</p>
            <p class="col-sm-3">{{user[2]}}</p>
            <div class="col-sm-2">{{form.lastNameTextBox()}}</div>
            <div class="col-sm-2"></div>
        </div>

        <div class="row">
            <div class="col-sm-2"></div>
            <p class="col-sm-3">Last Name</p>
            <p class="col-sm-3">{{user[3]}}</p>
            <div class="col-sm-2">{{form.usernameTextBox()}}</div>
            <div class="col-sm-2"></div>
        </div>

        <div class="row">
            <div class="col-sm-2"></div>
            <p class="col-sm-3">Email</p>
            <p class="col-sm-3">{{user[4]}}</p>
            <div class="col-sm-2">{{form.emailTextBox()}}</div>
            <div class="col-sm-2"></div>
        </div>

        <div class="row">
            <div class="col-sm-2"></div>
            <p class="col-sm-3">Date of Birth</p>
            <p class="col-sm-3">{{user[5]}}</p>
            <p class="col-sm-2">{{form.dobDayIntegerBox()}} / {{form.dobMonthIntegerBox()}} / {{form.dobYearIntegerBox()}}</p>
            <div class="col-sm-2"></div>
        </div>

        <div class="row">
            <div class="col-sm-2"></div>
            <p class="col-sm-3">Chess Raiting</p>
            <p class="col-sm-3">{{user[6]|int}}</p>
            <div class="col-sm-2"></div>
            <div class="col-sm-2"></div>
        </div>

        <div class="row">
            <div class="col-sm-2"></div>
            <p class="col-sm-3">Current Password</p>
            <div class="col-sm-3"></div>
            <div class="col-sm-2">{{form.passwordPasswordBox()}}</div>
            <div class="col-sm-2"></div>
        </div>

        <div class="row">
            <div class="col-sm-2"></div>
            <p class="col-sm-3">New Password</p>
            <div class="col-sm-3"></div>
            <div class="col-sm-2">{{form.newPasswordPasswordBox()}}</div>
            <div class="col-sm-2"></div>
        </div>

        <div class="row">
            <div class="col-sm-2"></div>
            <p class="col-sm-3">Repeat New Password</p>
            <div class="col-sm-3"></div>
            <div class="col-sm-2">{{form.newRepeatPasswordBox()}}</div>
            <div class="col-sm-2"></div>
        </div>

        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-3"></div>
            <div class="col-sm-3">{{form.submitButton()}}</div>
            <div class="col-sm-2"></div>
            <div class="col-sm-2"></div>
        </div>
    </div>
</div>
{% endblock %}