{% extends "MainTemplate.html" %}

{% block pageTitle %}Shallow Blue - Reset User Password{% endblock %}

{% block bodyContent %}
<div class="container-fluid">
    {# Page heading #}
    <header class="jumbotron Page-Heading">
        <h1 style="text-align:center">SHALLOW BLUE - RESET USER PASSWORD</h1>
    </header>

    {# Output messages #}
    {% for message in get_flashed_messages() %}
    <div class="row">
        <div class="col-sm-3"></div>

        <div class="col-sm-6">
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{message}}
            </div>
        </div>

        <div class="col-sm-3"></div>
    </div>
    {% endfor %}

    {# Display form #}
    <div class="row">
        <div class="col-sm-3"></div>

        <div class="col-sm-6" style="text-align: center">
            <form method="POST">
                {{form.hidden_tag()}}{# Used for CRSF protection #}

                <p>{{form.usernameTextBox.label}} {{form.usernameTextBox()}}</p>
                {% for error in form.usernameTextBox.errors %}
                <p>{{error}}</p>
                {% endfor %}

                <p>{{form.passwordPasswordBox.label}} {{form.passwordPasswordBox()}}</p>
                {% for error in form.passwordPasswordBox.errors %}
                <p>{{error}}</p>
                {% endfor %}

                <p>{{form.submitButton(class="btn button-background")}}</p>
            </form>
        </div>

        <div class="col-sm-3"></div>
    </div>
</div>
{% endblock %}