{% extends "EventTemplate.html" %}{# This page builds on the EventTemplate page #}

{% block pageContent %}
<div class="container-fluid" style="text-align: center">
    <div class="row">
        <div class="col-sm-4"><p>Position:</p></div>
        <div class="col-sm-4"><p>Player:</p></div>
        {% if event.eventType != "ladder" %}
        <div class="col-sm-4"><p>Score:</p></div>
        {% endif %}
    </div>
    {% for player in event.players %}
    <div class="row">
        <div class="col-sm-4"><p>{{player.position}}</p></div>
        <div class="col-sm-4"><p>{{player.name}}</p></div>
        {% if event.eventType != "ladder" %}
        <div class="col-sm-4"><p>{{player.score}}</p></div>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endblock %}