{% extends "MainTemplate.html" %}

{% block pageTitle %}Shallow Blue - Home{% endblock %}

{% block bodyContent %}
<div class="container-fluid">
    <header class="jumbotron Page-Heading">
        <h1 style="text-align:center">SHALLOW BLUE - HOME</h1>
    </header>

    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-3" style="text-align: center">
            <a class="btn splash_button-background" href="{{url_for("login")}}"><i class="fas fa-sign-in-alt SplashPage-Clickable-Icon"></i></a>
            <br />
            <p>Log In</p>
        </div>
        <div class="col-sm-3" style="text-align: center">
            <a class="btn splash_button-background" href=""><i class="fas fa-address-book SplashPage-Clickable-Icon"></i></a>
            <br />
            <p>Profile</p>
        </div>
        <div class="col-sm-3"></div>
    </div>

    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-3" style="text-align: center">
            <a class="splash_button-background" href="{{url_for("spectate")}}"><i class="fas fa-binoculars SplashPage-Clickable-Icon"></i></a>
            <br />
            <p>Spectate</p>
        </div>
        <div class="col-sm-3" style="text-align: center">
            <a class="splash_button-background" href="{{url_for("join")}}"><i class="fas fa-calendar-alt SplashPage-Clickable-Icon"></i></a>
            <br />
            <p>Join</p>
        </div>
        <div class="col-sm-3"></div>
    </div>
</div>
{% endblock %}