{% extends "MainTemplate.html" %}

{% block pageTitle %}Shallow Blue - Home{% endblock %}

{% block bodyContent %}
<div class="container-fluid">
    <header class="jumbotron Page-Heading">
        <h1 style="text-align:center">SHALLOW BLUE - HOME</h1>
    </header>

    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-3" style="text-align: center">
            <a class="btn btn-default" href=""><i class="fas fa-sign-in-alt SplashPage-Clickable-Icon"></i></a>
            <br />
            <p class="SplashPage-Clickable-Icon-Caption">Log In</p>
        </div>
        <div class="col-sm-3" style="text-align: center">
            <a class="btn btn-default" href=""><i class="fas fa-address-book SplashPage-Clickable-Icon"></i></a>
            <br />
            <p class="SplashPage-Clickable-Icon-Caption">Profile</p>
        </div>
        <div class="col-sm-3"></div>
    </div>

    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-3" style="text-align: center">
            <a class="btn btn-default" href=""><i class="fas fa-binoculars SplashPage-Clickable-Icon"></i></a>
            <br />
            <p class="SplashPage-Clickable-Icon-Caption">Spectate</p>
        </div>
        <div class="col-sm-3" style="text-align: center">
            <a class="btn btn-default" href=""><i class="fas fa-calendar-alt SplashPage-Clickable-Icon"></i></a>
            <br />
            <p class="SplashPage-Clickable-Icon-Caption">Join</p>
        </div>
        <div class="col-sm-3"></div>
    </div>
</div>
{% endblock %}