@{
    // This page builds on the MainTemplate page
    Layout = "_MainTemplate";

    ViewData["FullPageTitle"] = "Shallow Blue - " + ViewData["PageTitle"];

    List<string> removeKeys = new List<string>();
    void RemoveData()
    {
        foreach (string key in removeKeys)
        {
            TempData.Remove(key);
        }
    }
}
<a class="btn button-background menuNavButton" onclick="openNav()"><i class="fas fa-bars"></i></a>
<div class="container-fluid">

    @* Page heading *@
    <header class="jumbotron Page-Heading">
        <h1 style="text-align:center">@ViewData["PageHeading"]</h1>
    </header>

    @* Output messages *@
    @foreach (KeyValuePair<string, dynamic> item in TempData)
    {
        if (System.Text.RegularExpressions.Regex.IsMatch(item.Key, "Message .+"))
        {
            removeKeys.Add(item.Key);
            <div class="row">
                <div class="col-sm-3"></div>

                <div class="col-sm-6">
                    <div class="alert alert-warning">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        @item.Value
                    </div>
                </div>

                <div class="col-sm-3"></div>
            </div>
        }

    }

    @RenderBody()

</div>

@* Navigation Menu (Hidden on page load) *@
<div id="myNav" class="overlay">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <div class="container-fluid overlay-content">
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <ul id="menuLinks" class="menuBar_ul">
                    {% if "userName" in session %}
                    <li><a asp-controller="Menu" asp-action="Logout" class="logout-link">Logged In As "{{session["userName"]}}" - Logout</a></li>
                    {% endif %}
                    <li><a asp-controller="Menu" asp-action="SplashPage">Splash Page</a></li>
                    {% if session["userName"] != "admin" %}
                    <li><a asp-controller="Menu" asp-action="Profile">Profile</a></li>
                    {% else %}
                    <li><a asp-controller="Menu" asp-action="AdminMenu">Admin Menu</a></li>
                    {% endif %}
                    <li><a asp-controller="Menu" asp-action="Spectate">Spectate</a></li>
                    <li><a asp-controller="Menu" asp-action="Join">Join</a></li>
                </ul>
            </div>
            <div class="col-sm-3"></div>
        </div>
    </div>
</div>

@* Extra lines to prevent footer from cutting off content *@
<br />
<br />

<footer class="Page-Footer">
    <p>
        GitHub - "https://github.com/QuasarX1/Shallow-Blue"<br />
        Contact Me - "ShallowBlue@gmail.com"<br />
        Copyright <i class="far fa-copyright"></i> Christopher Rowe @DateTime.Today.Year
    </p>
</footer>

@{RemoveData();}