@model LoginModel
@{
    Layout = "_MenuTemplate.cshtml";

    ViewData["PageTitle"] = "Login";

    ViewData["PageHeading"] = "SHALLOW BLUE - LOGIN";
}

@* Display login form *@
<div class="row">
    <div class="col-sm-3"></div>

    <div class="col-sm-6" style="text-align: center">
        <form asp-controller="Menu" , asp-action="Login" method="POST">
            <label asp-for="Username"></label> <input asp-for="Username" />
            <br />
            <label asp-for="Password"></label> <input asp-for="Password" />
            <br />
            <button type="submit" class="btn button-background">Login</button>
        </form>

        <br />

        @* Link to signup form *@
        <p>
            Or sign up here --->
            <a class="btn button-background" asp-controller="Menu" asp-action="Signup">
                <i class="fas fa-user-plus button-icon"></i>
            </a>
        </p>
    </div>

    <div class="col-sm-3"></div>
</div>