body
{
    background-color: blue;
}

.Page-Heading
{
    background-color: deepskyblue;
}

.SplashPage-Clickable-Icon
{
    color: darkblue;
    font-size:10em;
}

.SplashPage-Clickable-Icon-Caption
{
    color: white;
}