body
{
    background-color: blue;
}

.Page-Heading
{
    background-color: aqua;
}

.SplashPage-Clickable-Icon
{
    color: darkblue;
    font-size:12em;
}

.SplashPage-Clickable-Icon-Caption
{
    color: white;
}